body {
  margin: 0;
  padding: 0;
  background-color: #e0f2fe;
  display: flex;
  justify-content: conter;
  align-items: center;
  height: 100vh;
  font-family:"Marker Felt", "Permanent Marker", "Comic Sans MS";
}